
@keyframes buttonPress {
  0%   { transform: scale(1); }
  50%  { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes introButtonGlow {
  0%   { filter: drop-shadow(-20px 0px 20px rgba($white, 0)); stroke: mix(white, $app_accent_orange, 0%); }
  20%  { filter: drop-shadow(0px 0px 10px rgba($white, 1)); stroke: mix(white, $app_accent_orange, 20%); }
  40%  { filter: drop-shadow(20px 0px 20px rgba($white, 0)); stroke: mix(white, $app_accent_orange, 0%); }
  100% { filter: drop-shadow(-20px 0px 20px rgba($white, 0)); stroke: mix(white, $app_accent_orange, 0%); }
}

@keyframes gridVoltUp {
  0%   { top: 100%; }
  100% { top: 0; }
}
@keyframes gridVoltDown {
  0%   { top: 0; }
  100% { top: 100%; }
}
@keyframes gridVoltLeft {
  0%   { left: 100%; }
  100% { left: 0; }
}
@keyframes gridVoltRight {
  0%   { left: 0; }
  100% { left: 100%; }
}