
main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $app_black;
  overflow: hidden;
  // Grid
  .grid {
    position: absolute;
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-size: 10vw 10vw;
    // background-size: $player_bar_height $player_bar_height;
    background-image: 
      linear-gradient(to right, $app_black_80 1px, transparent 1px), 
      linear-gradient(to bottom, $app_black_80 1px, transparent 1px);
  }
  // Background highlight
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, $app_black_90 0%, transparent 100%);
    opacity: 0.5;
  }
  // Gradient mask
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: radial-gradient(circle, transparent 10%, $app_black 100%);
    background: $app_black;
    mask-image: radial-gradient(circle, transparent 0%, $app_black 100%);
  }
  .volt {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 0 15px 8px rgba($white, 0.3);
    animation-duration: 0.5s;
    animation-timing-function: linear;
    // animation-iteration-count: infinite;
    &.up {
      top: 100%;
      left: 50%;
      animation-name: gridVoltUp;
    }
    &.down {
      top: 0;
      left: 50%;
      animation-name: gridVoltDown;  
    }
    &.left {
      top: 50%;
      left: 100%;
      animation-name: gridVoltLeft;  
    }
    &.right {
      top: 50%;
      left: 0;
      animation-name: gridVoltRight;  
    }
  }
} // #background

#leaderboard {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
  padding: 15px;
  overflow: auto; // allow scroll if players exceed height
  padding-bottom: $player_bar_height;
  opacity: 0;
  pointer-events: none;
  &::-webkit-scrollbar {
    display: none;
  }
  #player-bars {
    position: relative;
    width: 100%;
    transition: all 0.5s $ease 0.2s;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  &.align-top {
    align-items: start;
  }
}

.player-bar {
  position: absolute; // positioning is done by translateY()
  top: 0;
  left: 0;
  width: 100%;
  height: $player_bar_height;
  display: flex;
  cursor: pointer;
  transition: transform 0.5s $ease;
  .inner {
    display: grid;
    width: 100%;
    height: calc(100% - 10px - 10px);
    margin: 10px 0;
    padding: 15px 10px 12px 10px;
    grid-template-columns: auto auto;
    grid-template-rows: min-content auto;
    grid-column-gap: 30px;
    grid-row-gap: 5px;
    align-items: center;
    border-radius: 10px;
    background-color: rgba($app_black_80, 0.4);
    opacity: 1;
    transform: translateY(0);
    // transition: background-color 0.2s $ease;
    transition: all 0.5s $ease, background-color 0.2s $ease;
    .name {
      grid-column: 1 / span 1;
      font-family: $font_family_primary;
      font-size: 24px;
      line-height: 1;
      align-self: end;
      //text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .play-count {
      grid-column: 2 / span 1;
      font-size: 16px;
      color: $app_black_30;
      justify-self: end;
      align-self: start;
    }
    .score-meter {
      grid-column: 1 / span 2;
      grid-row: 2;
      .bar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        width: 0; // default
        min-width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 5px;
        //transition: width 0.5s $ease;
        transition: width 0.7s $ease, box-shadow 1s $ease;
        .current-score {
          font-family: $font_family_primary;
          font-size: 24px;
          transform: translateX(calc(100% + 10px));
        }
        &[data-current-score="0"],
        &[data-current-score^="-"] {
          min-width: 0;
          .current-score {
            transform: translateX(100%);
          }
        }
      }
    }
  }
  &.new {
    .inner {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  &.remove {
    .inner {
      transform: scale(0.9);
      opacity: 0;
      transition: all 0.5s $ease;
    }
  }
  // &:active {
  //   background-color: $app_black_40;
  //   transition: none;
  // }
  &.score-animating {
    .inner {
      background-color: rgba($app_black_80, 0.6);
      .score-meter {
        .bar { 
          box-shadow: 0px 0px 8px $white;
          transition: width 0.7s $ease, box-shadow 0.5s $ease;
        }
      }
    }
  }
} // .player-bar




// Non-touch devices
body[data-touch="false"] {

  .player-bar {
    &:hover {
      .inner {
        background-color: rgba($app_black_80, 0.8);
      }
    }
  } // .player-bar

} // non-touch





@include mquery(m) {

  #background {
    // Grid
    .grid {
      background-size: 5vw 5vw;
    }
  }

  #leaderboard {
    max-width: 800px;
    padding-bottom: $player_bar_height_m;
  }

  .player-bar {
    height: $player_bar_height_m;
    .inner {
      height: calc(100% - 15px - 15px);
      padding: 15px;
      border-radius: 15px;
      margin: 15px 0;
      .name {
        font-size: 28px;
      }
      .play-count {
        font-size: 20px;
      }
      .score-meter {
        .bar {
          height: 15px;
          border-radius: 10px;
          .current-score {
            font-size: 28px;
          }
        }
      }
    }
  }

} // end media-query medium