
// Standard action button
.action-button {
  font-size: 16px;
  text-transform: uppercase;
  color: $app_black;
  background-color: $white;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.2s $ease;
  &:active {
    animation: buttonPress 0.2s $ease;
  }
}

// Segmented button (default 2 options)
.segmented-button {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: max-content;
  background-color: $app_black_80;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.15s $ease;
  &:before { // Switch
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px $app_black;
    transition: all 0.15s $ease;
  }
  span {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.15s $ease;
  }
  // Option 1 selected
  &[data-selected="0"] {
    &:before { // Switch
      left: 0;
    }
    span {
      &:nth-of-type(1) {
        color: $app_black;
      }
    }
  }
  // Option 2 selected
  &[data-selected="1"] {
    &:before { // Switch
      left: 50%;
    }
    span {
      &:nth-of-type(2) {
        color: $app_black;
      }
    }
  }
}




// Enable hover effects for non-touch devices
body[data-touch="false"] {

  // Standard action button
  .action-button {
    &:hover {
      background-color: $app_black_10;
    }
  }

  // Segmented button (default 2 options)
  .segmented-button {
    &:hover {
      background-color: $app_black_70;
    }
  }

} // non-touch
