
#game-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 110px));
  //grid-template-columns: repeat(3, 1fr);
  //gap: 10px;
  justify-content: space-evenly;
  align-items: start;
  button {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    padding: 10px;
    border-radius: 10px;
    &:before { // Nav icon
      content: '';
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-bottom: 5px;
      background-image: url($icon_backspace_light);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &:active {
      background-color: $app_black_80;
    }
    &#settings-button {
      &:before {
        background-image: url($icon_filter_light);
      }
    }
    &#add-player-button {
      &:before {
        background-image: url($icon_add_light);
      }
    }
    &#game-info-button {
      &:before {
        background-image: url($icon_info_light);
      }
    }
  }
  &:before { // Background gradient
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, rgba($app_black, 0.9) 50%, transparent);
    pointer-events: none;
  }
}





// Non-touch devices
body[data-touch="false"] {

  #game-nav {
    button {
      &:hover {
        background-color: $app_black_90;
      }
    }
  }

} // non-touch