
nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  // gap: 10px;
  justify-content: space-evenly;
  align-items: start;
  button {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    color: $white;
    padding: 10px;
    border-radius: 10px;
    svg { // Nav icon
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-bottom: 5px;
      stroke: $white;
    }
    &.active {
      color: $app_accent_orange;
      svg {
        stroke: $app_accent_orange;
      }
    }
    &:active {
      background-color: $app_black_80;
    }
  }
  &:before { // Background gradient
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, rgba($app_black, 0.9) 50%, transparent);
    pointer-events: none;
  }
} // nav

#game-nav {
  position: fixed;
  grid-template-columns: repeat(auto-fit, minmax(50px, 110px));
  button {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 0.5s $ease, transform 0.5s $ease;
  }
  &:before { // Background gradient
    opacity: 0;
    transition: opacity 0.5s $ease;
  }
  &.active {
    button {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
      transition: opacity 1s $ease, transform 1s $ease_out_quint;
      &:nth-of-type(1) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.4s;
      }
    }
    &:before { // Background gradient
      opacity: 1;
    }
  }
} // #game-nav





// Non-touch devices
body[data-touch="false"] {

  #game-nav {
    button {
      &:hover {
        background-color: $app_black_90;
      }
    }
  }

} // non-touch