
nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  //gap: 10px;
  justify-content: space-evenly;
  align-items: start;
  button {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    padding: 10px;
    border-radius: 10px;
    svg { // Nav icon
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-bottom: 5px;
      stroke: $white;
    }
    &.active {
      color: $app_accent_orange;
      svg {
        stroke: $app_accent_orange;
      }
    }
    &:active {
      background-color: $app_black_80;
    }
  }
  &:before { // Background gradient
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, rgba($app_black, 0.9) 50%, transparent);
    pointer-events: none;
  }
} // nav

#game-nav {
  position: fixed;
  grid-template-columns: repeat(auto-fit, minmax(50px, 110px));
} // #game-nav





// Non-touch devices
body[data-touch="false"] {

  #game-nav {
    button {
      &:hover {
        background-color: $app_black_90;
      }
    }
  }

} // non-touch