
// Icons
$icon_filter_dark: '../img/filter-dark.svg';
$icon_filter_light: '../img/filter-light.svg';

$icon_info_dark: '../img/info-dark.svg';
$icon_info_light: '../img/info-light.svg';

$icon_list_dark: '../img/list-dark.svg';
$icon_list_light: '../img/list-light.svg';

$icon_stats_dark: '../img/stats-dark.svg';
$icon_stats_light: '../img/stats-light.svg';

$icon_add_dark: '../img/add-dark.svg';
$icon_add_light: '../img/add-light.svg';